# This is Git's per-user configuration file.
[gpg]
	program = gpg2
[user]
# Please adapt and uncomment the following lines:
        name   = MatthewRalston
        email  = mrals89@gmail.com
	signingkey = 4283434292B71BC2862522BE04B11C2C4ABFB8D4
[color]
        ui     = true
[core]
        editor = emacs
[alias]
	amen = commit --amend --no-edit
[commit]
	gpgsign = true
[init]
	defaultBranch = main
