[Unit]
Description=Cleanup stale journal files
Wants=weekly.timer

[Service]
Type=simple
Environment=JOURNALDIR=/ffast/Documents/orgs/journal
ExecStart=/bin/bash -c "for f in $(grep -l 'DELETEME' $JOURNALDIR/*.md); do if [ ! -h "$f" ]; then rm $f; fi; done; $(rm *.md~ || true)"
User=matt

[Install]
WantedBy=multi-user.target