[Unit]
Description=Cleanup stale journal files
Wants=weekly.timer

[Service]
Type=simple
Environment=JOURNALDIR=/ffast/Documents/orgs/journal
ExecStart=/bin/bash -c 'find $JOURNALDIR -empty -type f -delete'
User=matt

[Install]
WantedBy=multi-user.target