[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matt/Desktop/steam.desktop]
row=10
col=1

[/home/matt/Desktop/Resume Verification Form.docx]
row=9
col=0

[/home/matt/Desktop/cover_letter.org]
row=1
col=2

[/home/matt/Desktop/Ralston, Matthew Agreement 06-15-20.pdf]
row=10
col=0

[/home/matt/Desktop/MIT_OCW_Genomics_and_CompBio]
row=2
col=1

[/home/matt/Desktop/Kocchi Muite Megumin (Explosion song) 5 min-zIMqDhJzfgQ.mkv]
row=11
col=1

[/home/matt/Desktop/Profile.odg]
row=5
col=1

[/home/matt/Desktop/Dota 2.desktop]
row=9
col=1

[/home/matt/Desktop/money-then-shot.png]
row=7
col=0

[/home/matt/Desktop/Light_dispersion_conceptual_waves.gif]
row=7
col=1

[/home/matt/Desktop/Screenshot from 2020-02-25 14-35-14.png]
row=3
col=1

[/home/matt/Desktop/The Economics Book - Big Ideas Simply Explained By DK]
row=0
col=1

[/home/matt/Desktop/County Verification Form (WI-LI).pdf]
row=8
col=0

[/home/matt/Desktop/RevolutionTechnologies_Onboarding_Documents.zip]
row=11
col=0

[/home/matt/Desktop/Screenshot from 2020-02-25 14-34-51.png]
row=12
col=1

[/home/matt/Desktop/Ralston, Matthew - Drug Test Letter.pdf]
row=1
col=1

[/home/matt/Desktop/Steam.desktop]
row=8
col=1

[/home/matt/Desktop/KDB.odg]
row=4
col=1

[/home/matt/Desktop/Biogen Letter of Exclusivity - RTR - Matthew T. Ralston.pdf]
row=12
col=0

[/home/matt/Desktop/Reading]
row=6
col=1

[/home/matt/Desktop/SY-300]
row=0
col=2

[b78a6f37-47f0-44da-a9d8-e171eeffb466]
row=0
col=0

[5C76DCEB71582986]
row=3
col=0

[db1825f9-d82f-4bda-9bfc-91c1aab24c86]
row=2
col=0

[5C72A81372A7F046]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/matt]
row=6
col=0

